@model IEnumerable<GBCSporting_Huskies.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Product Manager</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Price
            </th>
            <th>
                Release Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <a class="text-success text-decoration-none page-options" asp-action="Create">Add New</a>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelDate)
            </td>
            <td>
                <a class="text-success text-decoration-none page-options" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a class="text-success text-decoration-none page-options" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a class="text-success text-decoration-none page-options" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
