@model GBCSporting_Huskies.Models.Incident

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Technician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Technician.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IncidentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
